.conteudo{
-fx-background-color:black;
-fx-font-family: "Oswald";
}

.titulo{
-fx-text-fill:#eee;
-fx-font-size:36px;

}

.numero{
-fx-text-fill:#ffffff;
-fx-font-size:28px;
}


.botoes{

-fx-text-fill:#42b2ee;
-fx-font-size:28px;
-fx-min-width:20px;
-fx-min-heigth:20px;
-fx-background-radius:50px;

}


.verde{
-fx-background-color:green;
}

.red{


-fx-background-color:red;
}

branco{


-fx-background-color:black;
}